html,body,head {
    margin: 0;
    padding: 25px;
    background-color: #2a2a2a;
}

#triangle-canvas {
    width: 800px;
    height: 800px;
    /*important to have an "aggressive" background color so its well visible if something is not working with weblgl*/
    background-color: #da6052;
    margin: 20px;
}

.canvas-box{
    display: flex;
}

.three-canvas {
    width: 800px;
    height: 800px;
    background-color: #da6052;
    margin: 20px;
}

#error-box {
    color: #fd8080;
    font-weight: 500;
    font-size: 18pt;
    border: 1px solid white;
    padding: 25px;
    margin-top: 20px;
}

.error-box-title {
    color: #eee;
    border-bottom: 1px solid grey;
}